* {
    padding: 0;
    color: white;
}

table, tr{
    height: 100%;
    width: 100%;
}

body {
    background-color: grey;
    margin: 2%;
    top: auto;
    bottom: auto;
    align-content: center;
}

footer {
    position : absolute;
    bottom: 1%;
    width: 95%;
    height: 5%;
    align-content: center;
}

div {
    position: absolute;
    height: 90%;
}

#fenetre {
    background-color: blue;
    width: 75%;
    
}

#cote {
    right: 1%;
    background-color: red;
    width: 20%;
}

#bandeau{
    background-color: green;
    position: static;
}

#menu{
    background-color: yellow;
    position: static;
}

#etatJ {
    background-color: pink;
    position: static;
}

#tda {
    width: 2%;
}

#tdb {
    width: 17%;
}
